<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} : %m%n" />
		</layout>
	</appender>
	
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="nic.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<param name="MaxFileSize" value="10MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-d{yyyy-MM-dd HH:mm:ss}  [ %t:%r ] [%c] - [ %p ]  %m%n" />
		</layout>
	</appender>
	
	<appender name="IBatis" class="org.apache.log4j.ConsoleAppender">
	   <layout class="org.apache.log4j.PatternLayout">
	    <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
	   </layout>
	   <filter class="org.apache.log4j.varia.LevelRangeFilter">
	    <param name="LevelMin" value="DEBUG" />
	    <param name="LevelMax" value="DEBUG" />
	   </filter>
	</appender>

	<logger name="com.ibatis" additivity="false">
	   <level value="DEBUG" />
	   <appender-ref ref="FILE" />
	</logger>
	
	<logger name="java.sql.Connection" additivity="false">
	   <level value="DEBUG" />
	   <appender-ref ref="FILE" />
	</logger>
	
	<logger name="java.sql.Statement" additivity="false">
	   <level value="DEBUG" />
	   <appender-ref ref="FILE" />
	</logger>
	
	<logger name="java.sql.PreparedStatement" additivity="false">
	   <level value="DEBUG" />
	   <appender-ref ref="IBatis" />
	   <appender-ref ref="FILE" />
	</logger>
	
	<logger name="java.sql.ResultSet" additivity="false">
	   <level value="DEBUG" />
	   <appender-ref ref="IBatis" />
	   <appender-ref ref="FILE" />
	</logger>
	
	
	<root>
		<level value="info" />
		<appender-ref ref="IBatis" />		
		<appender-ref ref="FILE" />
	</root>
	
</log4j:configuration>