<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neutron.server.persistence.iface.T_rmr_indexMapper" >
  <resultMap id="BaseResultMap" type="com.neutron.server.persistence.model.T_rmr_index" >
    <id column="t_rmr_index_id" property="tRmrIndexId" jdbcType="INTEGER" />
    <result column="t_rmr_index_userid" property="tRmrIndexUserid" jdbcType="INTEGER" />
    <result column="t_rmr_index_value" property="tRmrIndexValue" jdbcType="DOUBLE" />
    <result column="t_rmr_index_datetime" property="tRmrIndexDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t_rmr_index_id, t_rmr_index_userid, t_rmr_index_value, t_rmr_index_datetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neutron.server.persistence.model.T_rmr_indexExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_rmr_index
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_rmr_index
    where t_rmr_index_id = #{tRmrIndexId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_rmr_index
    where t_rmr_index_id = #{tRmrIndexId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neutron.server.persistence.model.T_rmr_indexExample" >
    delete from t_rmr_index
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neutron.server.persistence.model.T_rmr_index" >
    insert into t_rmr_index (t_rmr_index_id, t_rmr_index_userid, t_rmr_index_value, 
      t_rmr_index_datetime)
    values (#{tRmrIndexId,jdbcType=INTEGER}, #{tRmrIndexUserid,jdbcType=INTEGER}, #{tRmrIndexValue,jdbcType=DOUBLE}, 
      #{tRmrIndexDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.neutron.server.persistence.model.T_rmr_index" >
    insert into t_rmr_index
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tRmrIndexId != null" >
        t_rmr_index_id,
      </if>
      <if test="tRmrIndexUserid != null" >
        t_rmr_index_userid,
      </if>
      <if test="tRmrIndexValue != null" >
        t_rmr_index_value,
      </if>
      <if test="tRmrIndexDatetime != null" >
        t_rmr_index_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tRmrIndexId != null" >
        #{tRmrIndexId,jdbcType=INTEGER},
      </if>
      <if test="tRmrIndexUserid != null" >
        #{tRmrIndexUserid,jdbcType=INTEGER},
      </if>
      <if test="tRmrIndexValue != null" >
        #{tRmrIndexValue,jdbcType=DOUBLE},
      </if>
      <if test="tRmrIndexDatetime != null" >
        #{tRmrIndexDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neutron.server.persistence.model.T_rmr_indexExample" resultType="java.lang.Integer" >
    select count(*) from t_rmr_index
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_rmr_index
    <set >
      <if test="record.tRmrIndexId != null" >
        t_rmr_index_id = #{record.tRmrIndexId,jdbcType=INTEGER},
      </if>
      <if test="record.tRmrIndexUserid != null" >
        t_rmr_index_userid = #{record.tRmrIndexUserid,jdbcType=INTEGER},
      </if>
      <if test="record.tRmrIndexValue != null" >
        t_rmr_index_value = #{record.tRmrIndexValue,jdbcType=DOUBLE},
      </if>
      <if test="record.tRmrIndexDatetime != null" >
        t_rmr_index_datetime = #{record.tRmrIndexDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_rmr_index
    set t_rmr_index_id = #{record.tRmrIndexId,jdbcType=INTEGER},
      t_rmr_index_userid = #{record.tRmrIndexUserid,jdbcType=INTEGER},
      t_rmr_index_value = #{record.tRmrIndexValue,jdbcType=DOUBLE},
      t_rmr_index_datetime = #{record.tRmrIndexDatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neutron.server.persistence.model.T_rmr_index" >
    update t_rmr_index
    <set >
      <if test="tRmrIndexUserid != null" >
        t_rmr_index_userid = #{tRmrIndexUserid,jdbcType=INTEGER},
      </if>
      <if test="tRmrIndexValue != null" >
        t_rmr_index_value = #{tRmrIndexValue,jdbcType=DOUBLE},
      </if>
      <if test="tRmrIndexDatetime != null" >
        t_rmr_index_datetime = #{tRmrIndexDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where t_rmr_index_id = #{tRmrIndexId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neutron.server.persistence.model.T_rmr_index" >
    update t_rmr_index
    set t_rmr_index_userid = #{tRmrIndexUserid,jdbcType=INTEGER},
      t_rmr_index_value = #{tRmrIndexValue,jdbcType=DOUBLE},
      t_rmr_index_datetime = #{tRmrIndexDatetime,jdbcType=TIMESTAMP}
    where t_rmr_index_id = #{tRmrIndexId,jdbcType=INTEGER}
  </update>
</mapper>