<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neutron.server.persistence.iface.T_rmrMapper" >
  <resultMap id="BaseResultMap" type="com.neutron.server.persistence.model.T_rmr" >
    <id column="t_rmr_id" property="tRmrId" jdbcType="INTEGER" />
    <result column="t_rmr_userid" property="tRmrUserid" jdbcType="INTEGER" />
    <result column="t_rmr_value" property="tRmrValue" jdbcType="DOUBLE" />
    <result column="t_rmr_datetime" property="tRmrDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t_rmr_id, t_rmr_userid, t_rmr_value, t_rmr_datetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neutron.server.persistence.model.T_rmrExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_rmr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_rmr
    where t_rmr_id = #{tRmrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_rmr
    where t_rmr_id = #{tRmrId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neutron.server.persistence.model.T_rmrExample" >
    delete from t_rmr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neutron.server.persistence.model.T_rmr" >
    insert into t_rmr (t_rmr_id, t_rmr_userid, t_rmr_value, 
      t_rmr_datetime)
    values (#{tRmrId,jdbcType=INTEGER}, #{tRmrUserid,jdbcType=INTEGER}, #{tRmrValue,jdbcType=DOUBLE}, 
      #{tRmrDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.neutron.server.persistence.model.T_rmr" >
    insert into t_rmr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tRmrId != null" >
        t_rmr_id,
      </if>
      <if test="tRmrUserid != null" >
        t_rmr_userid,
      </if>
      <if test="tRmrValue != null" >
        t_rmr_value,
      </if>
      <if test="tRmrDatetime != null" >
        t_rmr_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tRmrId != null" >
        #{tRmrId,jdbcType=INTEGER},
      </if>
      <if test="tRmrUserid != null" >
        #{tRmrUserid,jdbcType=INTEGER},
      </if>
      <if test="tRmrValue != null" >
        #{tRmrValue,jdbcType=DOUBLE},
      </if>
      <if test="tRmrDatetime != null" >
        #{tRmrDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neutron.server.persistence.model.T_rmrExample" resultType="java.lang.Integer" >
    select count(*) from t_rmr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_rmr
    <set >
      <if test="record.tRmrId != null" >
        t_rmr_id = #{record.tRmrId,jdbcType=INTEGER},
      </if>
      <if test="record.tRmrUserid != null" >
        t_rmr_userid = #{record.tRmrUserid,jdbcType=INTEGER},
      </if>
      <if test="record.tRmrValue != null" >
        t_rmr_value = #{record.tRmrValue,jdbcType=DOUBLE},
      </if>
      <if test="record.tRmrDatetime != null" >
        t_rmr_datetime = #{record.tRmrDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_rmr
    set t_rmr_id = #{record.tRmrId,jdbcType=INTEGER},
      t_rmr_userid = #{record.tRmrUserid,jdbcType=INTEGER},
      t_rmr_value = #{record.tRmrValue,jdbcType=DOUBLE},
      t_rmr_datetime = #{record.tRmrDatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neutron.server.persistence.model.T_rmr" >
    update t_rmr
    <set >
      <if test="tRmrUserid != null" >
        t_rmr_userid = #{tRmrUserid,jdbcType=INTEGER},
      </if>
      <if test="tRmrValue != null" >
        t_rmr_value = #{tRmrValue,jdbcType=DOUBLE},
      </if>
      <if test="tRmrDatetime != null" >
        t_rmr_datetime = #{tRmrDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where t_rmr_id = #{tRmrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neutron.server.persistence.model.T_rmr" >
    update t_rmr
    set t_rmr_userid = #{tRmrUserid,jdbcType=INTEGER},
      t_rmr_value = #{tRmrValue,jdbcType=DOUBLE},
      t_rmr_datetime = #{tRmrDatetime,jdbcType=TIMESTAMP}
    where t_rmr_id = #{tRmrId,jdbcType=INTEGER}
  </update>
</mapper>