<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neutron.server.persistence.iface.T_userMapper" >
  <resultMap id="BaseResultMap" type="com.neutron.server.persistence.model.T_user" >
    <id column="T_USER_id" property="tUserId" jdbcType="INTEGER" />
    <result column="T_USER_regtag" property="tUserRegtag" jdbcType="INTEGER" />
    <result column="T_USER_avatar" property="tUserAvatar" jdbcType="VARCHAR" />
    <result column="T_USER_name" property="tUserName" jdbcType="VARCHAR" />
    <result column="T_USER_gender" property="tUserGender" jdbcType="INTEGER" />
    <result column="T_USER_birth" property="tUserBirth" jdbcType="VARCHAR" />
    <result column="T_USER_phonenumber" property="tUserPhonenumber" jdbcType="VARCHAR" />
    <result column="T_USER_passcode" property="tUserPasscode" jdbcType="VARCHAR" />
    <result column="t_user_passcode_timestamp" property="tUserPasscodeTimestamp" jdbcType="TIMESTAMP" />
    <result column="T_USER_areacode" property="tUserAreacode" jdbcType="VARCHAR" />
    <result column="T_USER_deltag" property="tUserDeltag" jdbcType="VARCHAR" />
    <result column="T_USER_regdate" property="tUserRegdate" jdbcType="DATE" />
    <result column="t_user_imei" property="tUserImei" jdbcType="VARCHAR" />
    <result column="t_user_imsi" property="tUserImsi" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    T_USER_id, T_USER_regtag, T_USER_avatar, T_USER_name, T_USER_gender, T_USER_birth, 
    T_USER_phonenumber, T_USER_passcode, t_user_passcode_timestamp, T_USER_areacode, 
    T_USER_deltag, T_USER_regdate, t_user_imei, t_user_imsi
  </sql>
  
  <select id="getLastInsertID" resultType="java.lang.Integer">
    select distinct last_insert_id() from neutron.t_user
  </select>
  
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neutron.server.persistence.model.T_userExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where T_USER_id = #{tUserId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where T_USER_id = #{tUserId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neutron.server.persistence.model.T_userExample" >
    delete from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neutron.server.persistence.model.T_user" >
    insert into t_user (T_USER_id, T_USER_regtag, T_USER_avatar, 
      T_USER_name, T_USER_gender, T_USER_birth, 
      T_USER_phonenumber, T_USER_passcode, t_user_passcode_timestamp, 
      T_USER_areacode, T_USER_deltag, T_USER_regdate, 
      t_user_imei, t_user_imsi)
    values (#{tUserId,jdbcType=INTEGER}, #{tUserRegtag,jdbcType=INTEGER}, #{tUserAvatar,jdbcType=VARCHAR}, 
      #{tUserName,jdbcType=VARCHAR}, #{tUserGender,jdbcType=INTEGER}, #{tUserBirth,jdbcType=VARCHAR}, 
      #{tUserPhonenumber,jdbcType=VARCHAR}, #{tUserPasscode,jdbcType=VARCHAR}, #{tUserPasscodeTimestamp,jdbcType=TIMESTAMP}, 
      #{tUserAreacode,jdbcType=VARCHAR}, #{tUserDeltag,jdbcType=VARCHAR}, #{tUserRegdate,jdbcType=DATE}, 
      #{tUserImei,jdbcType=VARCHAR}, #{tUserImsi,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neutron.server.persistence.model.T_user" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tUserId != null" >
        T_USER_id,
      </if>
      <if test="tUserRegtag != null" >
        T_USER_regtag,
      </if>
      <if test="tUserAvatar != null" >
        T_USER_avatar,
      </if>
      <if test="tUserName != null" >
        T_USER_name,
      </if>
      <if test="tUserGender != null" >
        T_USER_gender,
      </if>
      <if test="tUserBirth != null" >
        T_USER_birth,
      </if>
      <if test="tUserPhonenumber != null" >
        T_USER_phonenumber,
      </if>
      <if test="tUserPasscode != null" >
        T_USER_passcode,
      </if>
      <if test="tUserPasscodeTimestamp != null" >
        t_user_passcode_timestamp,
      </if>
      <if test="tUserAreacode != null" >
        T_USER_areacode,
      </if>
      <if test="tUserDeltag != null" >
        T_USER_deltag,
      </if>
      <if test="tUserRegdate != null" >
        T_USER_regdate,
      </if>
      <if test="tUserImei != null" >
        t_user_imei,
      </if>
      <if test="tUserImsi != null" >
        t_user_imsi,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tUserId != null" >
        #{tUserId,jdbcType=INTEGER},
      </if>
      <if test="tUserRegtag != null" >
        #{tUserRegtag,jdbcType=INTEGER},
      </if>
      <if test="tUserAvatar != null" >
        #{tUserAvatar,jdbcType=VARCHAR},
      </if>
      <if test="tUserName != null" >
        #{tUserName,jdbcType=VARCHAR},
      </if>
      <if test="tUserGender != null" >
        #{tUserGender,jdbcType=INTEGER},
      </if>
      <if test="tUserBirth != null" >
        #{tUserBirth,jdbcType=VARCHAR},
      </if>
      <if test="tUserPhonenumber != null" >
        #{tUserPhonenumber,jdbcType=VARCHAR},
      </if>
      <if test="tUserPasscode != null" >
        #{tUserPasscode,jdbcType=VARCHAR},
      </if>
      <if test="tUserPasscodeTimestamp != null" >
        #{tUserPasscodeTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="tUserAreacode != null" >
        #{tUserAreacode,jdbcType=VARCHAR},
      </if>
      <if test="tUserDeltag != null" >
        #{tUserDeltag,jdbcType=VARCHAR},
      </if>
      <if test="tUserRegdate != null" >
        #{tUserRegdate,jdbcType=DATE},
      </if>
      <if test="tUserImei != null" >
        #{tUserImei,jdbcType=VARCHAR},
      </if>
      <if test="tUserImsi != null" >
        #{tUserImsi,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neutron.server.persistence.model.T_userExample" resultType="java.lang.Integer" >
    select count(*) from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user
    <set >
      <if test="record.tUserId != null" >
        T_USER_id = #{record.tUserId,jdbcType=INTEGER},
      </if>
      <if test="record.tUserRegtag != null" >
        T_USER_regtag = #{record.tUserRegtag,jdbcType=INTEGER},
      </if>
      <if test="record.tUserAvatar != null" >
        T_USER_avatar = #{record.tUserAvatar,jdbcType=VARCHAR},
      </if>
      <if test="record.tUserName != null" >
        T_USER_name = #{record.tUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.tUserGender != null" >
        T_USER_gender = #{record.tUserGender,jdbcType=INTEGER},
      </if>
      <if test="record.tUserBirth != null" >
        T_USER_birth = #{record.tUserBirth,jdbcType=VARCHAR},
      </if>
      <if test="record.tUserPhonenumber != null" >
        T_USER_phonenumber = #{record.tUserPhonenumber,jdbcType=VARCHAR},
      </if>
      <if test="record.tUserPasscode != null" >
        T_USER_passcode = #{record.tUserPasscode,jdbcType=VARCHAR},
      </if>
      <if test="record.tUserPasscodeTimestamp != null" >
        t_user_passcode_timestamp = #{record.tUserPasscodeTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tUserAreacode != null" >
        T_USER_areacode = #{record.tUserAreacode,jdbcType=VARCHAR},
      </if>
      <if test="record.tUserDeltag != null" >
        T_USER_deltag = #{record.tUserDeltag,jdbcType=VARCHAR},
      </if>
      <if test="record.tUserRegdate != null" >
        T_USER_regdate = #{record.tUserRegdate,jdbcType=DATE},
      </if>
      <if test="record.tUserImei != null" >
        t_user_imei = #{record.tUserImei,jdbcType=VARCHAR},
      </if>
      <if test="record.tUserImsi != null" >
        t_user_imsi = #{record.tUserImsi,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user
    set T_USER_id = #{record.tUserId,jdbcType=INTEGER},
      T_USER_regtag = #{record.tUserRegtag,jdbcType=INTEGER},
      T_USER_avatar = #{record.tUserAvatar,jdbcType=VARCHAR},
      T_USER_name = #{record.tUserName,jdbcType=VARCHAR},
      T_USER_gender = #{record.tUserGender,jdbcType=INTEGER},
      T_USER_birth = #{record.tUserBirth,jdbcType=VARCHAR},
      T_USER_phonenumber = #{record.tUserPhonenumber,jdbcType=VARCHAR},
      T_USER_passcode = #{record.tUserPasscode,jdbcType=VARCHAR},
      t_user_passcode_timestamp = #{record.tUserPasscodeTimestamp,jdbcType=TIMESTAMP},
      T_USER_areacode = #{record.tUserAreacode,jdbcType=VARCHAR},
      T_USER_deltag = #{record.tUserDeltag,jdbcType=VARCHAR},
      T_USER_regdate = #{record.tUserRegdate,jdbcType=DATE},
      t_user_imei = #{record.tUserImei,jdbcType=VARCHAR},
      t_user_imsi = #{record.tUserImsi,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neutron.server.persistence.model.T_user" >
    update t_user
    <set >
      <if test="tUserRegtag != null" >
        T_USER_regtag = #{tUserRegtag,jdbcType=INTEGER},
      </if>
      <if test="tUserAvatar != null" >
        T_USER_avatar = #{tUserAvatar,jdbcType=VARCHAR},
      </if>
      <if test="tUserName != null" >
        T_USER_name = #{tUserName,jdbcType=VARCHAR},
      </if>
      <if test="tUserGender != null" >
        T_USER_gender = #{tUserGender,jdbcType=INTEGER},
      </if>
      <if test="tUserBirth != null" >
        T_USER_birth = #{tUserBirth,jdbcType=VARCHAR},
      </if>
      <if test="tUserPhonenumber != null" >
        T_USER_phonenumber = #{tUserPhonenumber,jdbcType=VARCHAR},
      </if>
      <if test="tUserPasscode != null" >
        T_USER_passcode = #{tUserPasscode,jdbcType=VARCHAR},
      </if>
      <if test="tUserPasscodeTimestamp != null" >
        t_user_passcode_timestamp = #{tUserPasscodeTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="tUserAreacode != null" >
        T_USER_areacode = #{tUserAreacode,jdbcType=VARCHAR},
      </if>
      <if test="tUserDeltag != null" >
        T_USER_deltag = #{tUserDeltag,jdbcType=VARCHAR},
      </if>
      <if test="tUserRegdate != null" >
        T_USER_regdate = #{tUserRegdate,jdbcType=DATE},
      </if>
      <if test="tUserImei != null" >
        t_user_imei = #{tUserImei,jdbcType=VARCHAR},
      </if>
      <if test="tUserImsi != null" >
        t_user_imsi = #{tUserImsi,jdbcType=VARCHAR},
      </if>
    </set>
    where T_USER_id = #{tUserId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neutron.server.persistence.model.T_user" >
    update t_user
    set T_USER_regtag = #{tUserRegtag,jdbcType=INTEGER},
      T_USER_avatar = #{tUserAvatar,jdbcType=VARCHAR},
      T_USER_name = #{tUserName,jdbcType=VARCHAR},
      T_USER_gender = #{tUserGender,jdbcType=INTEGER},
      T_USER_birth = #{tUserBirth,jdbcType=VARCHAR},
      T_USER_phonenumber = #{tUserPhonenumber,jdbcType=VARCHAR},
      T_USER_passcode = #{tUserPasscode,jdbcType=VARCHAR},
      t_user_passcode_timestamp = #{tUserPasscodeTimestamp,jdbcType=TIMESTAMP},
      T_USER_areacode = #{tUserAreacode,jdbcType=VARCHAR},
      T_USER_deltag = #{tUserDeltag,jdbcType=VARCHAR},
      T_USER_regdate = #{tUserRegdate,jdbcType=DATE},
      t_user_imei = #{tUserImei,jdbcType=VARCHAR},
      t_user_imsi = #{tUserImsi,jdbcType=VARCHAR}
    where T_USER_id = #{tUserId,jdbcType=INTEGER}
  </update>
</mapper>