<?xml version="1.0" encoding="UTF-8"?>
<web xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" >
  <display-name>NeutronServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <description>后台定时任务</description>
    <listener-class>com.neutron.server.common.CronListener</listener-class>
  </listener>
  <filter>
    <filter-name>NeuFilter</filter-name>
    <filter-class>com.neutron.server.common.NeuFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>NeuFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.neutron.server.login.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Passcode</servlet-name>
    <servlet-class>com.neutron.server.login.Passcode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Data</servlet-name>
    <servlet-class>com.neutron.server.data.Data</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Relation</servlet-name>
    <servlet-class>com.neutron.server.sns.relation</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Passcode</servlet-name>
    <url-pattern>/passcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Data</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Relation</servlet-name>
    <url-pattern>/relation</url-pattern>
  </servlet-mapping>
</web>